"*":
  "atom-beautify":
    general:
      _analyticsUserId: "bac6fdac-40cd-4b16-b04b-6c567a71649c"
  "atom-ctags":
    autoBuildTagsWhenActive: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "exception-reporting"
      "metrics"
      "vim-mode"
      "love-atom"
      "love-ide"
      "jshint"
      "linter-jshint"
      "linter-js-standard"
      "language-javascript-jsx"
    ]
    hideGitIgnoredFiles: false
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
      ".tx/"
      "*.pyc"
    ]
    projectHome: "/home/fritz/Development"
    themes: [
      "one-dark-ui"
      "fairyfloss"
    ]
    "tree-view":
      hideVcsIgnoredFiles: false
  editor:
    fontSize: 12
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
  haxe: {}
  jshint:
    validateOnlyOnSave: true
  lime:
    debug_logging: true
    lime_default_target: "neko"
  linter:
    errorPanelHeight: 148
  "linter-eslint":
    disableWhenNoEslintConfig: false
    lintHtmlFiles: true
  "linter-jshint": {}
  "linter-pep8":
    maxLineLength: 80
    pep8ExecutablePath: "flake8"
  "love-ide": {}
  "love-launcher":
    lovepath: "/usr/bin/love"
  "one-dark-ui":
    layoutMode: "Compact"
  "one-light-ui":
    layoutMode: "Compact"
  "python-tools": {}
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "tool-bar":
    visible: false
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".js.source":
  editor:
    showInvisibles: false
    softWrap: false
