'body':
  'ctrl-, left': 'window:focus-pane-on-left',
  'ctrl-, right': 'window:focus-pane-on-right'

'.platform-linux atom-text-editor':
  'f2': 'atom-ctags:go-to-declaration'
'.editor':
  'ctrl-+': 'editor:auto-indent'

'.platform-linux atom-text-editor':
  'ctrl-f2': 'pomodoro:start'
  'ctrl-f3': 'pomodoro:abort'
