[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=xmodmap
Comment=custom key mappings
Exec=bash -c "sleep 30;xmodmap ~/.Xmodmap"
StartupNotify=false
Terminal=true
Hidden=false
